<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ми виробляємо розвиваючий набір
    іграшок для хлопчиків та дівчат. Це справжня залипашка для малечі. 
    Ідеальний подарунок для дітей від 9 місяців до 3 років!">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.min.css">

    <title>Занімашки для розумашки</title>
</head>
<body>