<header class="header">
    <div class="container">
        <div class="header-body">
            <div class="header-body__logo">
                <a href="#" class="logo">
                    <img src="img/img-toys/logo.png" alt="">
                </a>
            </div>
            <nav class="header-body__nav">
                <ul class="header-nav">
                    <li class="header-nav__item"><a href="#">Home</a></li>
                    <li class="header-nav__item"><a href="#">Features</a></li>
                    <li class="header-nav__item"><a href="#">Works</a></li>
                    <li class="header-nav__item"><a href="#">Team</a></li>
                    <li class="header-nav__item"><a href="#">Contact</a></li>
                </ul>
            </nav>
            <div class="header-body__phone">
                    <a class="c_link" href="tel:+7 910 000 75 00"><img src="img/img-toys/phone.png" alt="">8 910 000 75 00</a>
                    <button>Hello</button>
            </div>
        </div>
    </div>
</header>