<header class="header">
    <div class="container">
        <div class="header-body">
            <div class="header-body__logo">
                <a href="#" class="logo">
                    <img src="img/logo.png" alt="">
                </a>
            </div>
            <button class="header-body__burger header-burger">
                <span class="header-burger__line"></span>
                <span class="header-burger__line"></span>
                <span class="header-burger__line"></span>
            </button>
            <nav class="header-body__nav">
                <ul class="header-nav">
                    <li class="header-nav__item"><a href="#">Головна</a></li>
                    <li class="header-nav__item"><a href="#">Каталог</a></li>
                    <li class="header-nav__item"><a href="#">Доставка та оплата</a></li>
                    <li class="header-nav__item"><a href="#">Відгуки</a></li>
                </ul>                
            </nav>
            <div class="header-body__phone header-phone">
                <a class="header-phone__number" href="tel:+380672439155"><img src="img/img-toys/phone.png" alt="">(067) 2439 155</a>
                <button type="button" class="header-phone__button">Замовити дзвінок</button>
            </div>
        </div>
    </div>
</header>