<div class="mask"></div>

<main class="home">
    <div class="intro">
       <div class="container">
           <div class="intro-body">
               <div class="intro-body__text">
                   <h1>
                       Развивающая доска <span> Бизиборд</span>от производителя.
                       <p>Займите ребенка с пользой!</p>
                       <p>Методика<span> Марии монтессори</span></p>
                    </h1>
               </div>
               <div class="intro-body__content intro-content">
                   <div class="intro-content__left intro-left">
                       <div class="intro-left__img">
                           <img src="img/toy.png" alt="">
                       </div>
                       <a href="#" class="intro-left__button button">Переглянути каталог</a>
                   </div>
                   <div class="intro-content__right intro-right">
                       <div class="intro-right__img">
                           <img src="img/boy.png" alt="">
                       </div>
                       <form action="" class="intro-right__form intro-form">
                            <p>Заполните форму и мы пришлем</p>
                            <p>Вам  лучшую книгу по раннему развитию</p>
                            <p>Монтессори на электронную почту!</p>
                            <label>
                                <input value="" type="text" class="form-control" name="f_5827413" placeholder="Ваше ім'я" required="">
                            </label>
                            <label>
                                <input value="" type="text" class="form-control" id="mask_input" name="phone" placeholder="Номер телефону" required="">
                            </label>
                            <label>
                                <input value="" type="text" name="email" class="form-control" placeholder="Ваш e-mail" required="">
                            </label>
                            <div class="intro-form__button">
                                <a href="#" class="button">Надіслати форму</a>
                            </div>
                            <a class="intro-form__policy" href="#">Політика конфіденційності</a>
                       </form>
                   </div>
               </div>
           </div>
       </div>
    </div>
    <div class="facts">
        <div class="container">
            <div class="facts-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam earum incidunt rem numquam, similique ea fugit aspernatur dolorum quasi aperiam optio magni dignissimos sed accusantium. Quasi repudiandae aspernatur assumenda enim?
            </div>
        </div>
    </div>
</main>